@import url('base.css');
/* 头部开始 */
body{
	width: 100%;
	height: 100%;
	background: #ededed;
}
header{
	width: 100%;
	height: 75px;
	background: #000;
}
.navbar{
	width: 1220px;
	height: 75px;
	margin: 0 auto;
	background: #000;
	display:flex;
	justify-content: space-between;
}
.logoL{
	color: rgb(74, 179, 68);
	height: 75px;
	font-size: 32px;
	line-height: 75px;
}
.design{
	color: #837f80;
}
.logoR{
	width: 212px;
	height: 75px;
	display: flex;
	justify-content: space-between;

}
.logoR a{
	width: 106px;
	height: 75px;
	font-size: 14px;
	color: #c8c8c8;
	line-height: 75px;
}
.logoR a:hover{
	color: #fff;
}
.navbarT{
	width: 100%;
	height: 0px;
	position: fixed;
	top: 75px;
	z-index: 999;
	background: #f7f7f7;
	
    /* border-bottom: 1px solid #dadada; */
    /* transition: all 1s; */
}
.container{
	width: 1220px;
	height: 62px;
	margin: 0 auto;

}
.nav{
	width: auto;
	height: 62px;

	float: left;
}
.nav li{
	float: left;
	padding: 20px;
	position: relative;
}
.nav li:first-child{
	padding-left: 0;
}
.nav li a{
	font-size: 14px;
	color: #76838f;
}
.nav li a:hover{
	color: #6b95ea;
}
.hot{
	font-weight: bold;
	color: #666;
}
.drop-down{
	width: 158px;
	height: 0px;
	background: #fff;
	border-radius: 4px;
	position: absolute;
	left: 0px;
	top: 50px;
	z-index: 9999;
	/* padding: 5px 0; */
	overflow: hidden;
	transition: all 1s
}
.drop-down li{
	width: 158px;
	height: 40px;
	background: #fff;
	padding:  0;
	padding-left: 15px;
	margin: 5px 0;
	line-height: 40px;
	box-sizing: border-box;

}
.drop-down li:hover{
	background: #ededed;
}
/* 头部结束 */
/* banner开始 */
section{
	width: 1220px;
	height: 500px;
	margin: 62px auto;
	position: relative;
}
.box{
	width: 1220px;
	height: 500px;
	
}
.box li{
	width: 1220px;
	height: 500px;
/* 	background: yellow; */
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 8px;
	z-index: 5;
	cursor: pointer;
}
.dotsbox{
	width: 100px;
	height: 20px;
	position: absolute;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	bottom: 30px;
	z-index: 15;
	display: flex;
	justify-content: space-between;
}
.dotsbox li{
	width: 18px;
	height: 18px;
	background: #bebebb;
	border-radius: 50%;
	z-index: 15;
	box-sizing: border-box;
	cursor: pointer;
}
.dosts{
	border: 2px solid  #b4f5ff;
	box-sizing: border-box;
}
/* banner结束 */
/* 热门开始 */
main{
	width: 1220px;
	height: 500px;
	background: #fff;
	margin: 0 auto;
	border-radius: 8px;
	border: 1px solid rgba(0, 0, 0, 0.14);
	/* padding: 15px; */
	box-sizing: border-box;


}
.rmbox{
	width: 100%;
	height: 56px;
	background: #fff;
	border-bottom: 1px solid #ededed;
	margin-top: 15px;
}
.Hotbox{
	margin-left: 30px;
	float: left;
}
.Hot{
	font-size: 22px;
    margin-top: 0px;
    text-align: left;
    margin-bottom: 0px;
    color: #666;
    /* margin-left: 30px; */

}
.keybox{
	width: 80px;
	height: 40px;
	float: right;
	margin-right: 15px;
	display: flex;
	justify-content: space-between;
}
.keyL{
	width: 34px;
	height: 34px;
	cursor: pointer;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    line-height: 34px;
    color: #666;
    background-color: #fafafa;
    background-image: -webkit-linear-gradient(top, #ffffff, #fafafa);
    background-image: linear-gradient(180deg, #ffffff, #fafafa);
    transition: all 0.15s ease-out;
    text-align: center;
}
.keyL:hover{
    background-image: -webkit-linear-gradient(top, #f5f5f5, #eeeeee); */
    background-image: linear-gradient(180deg, #f5f5f5, #eeeeee);
}
.keyR{
	width: 34px;
	height: 34px;
	cursor: pointer;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    line-height: 34px;
    color: #666;
    background-color: #fafafa;
    background-image: -webkit-linear-gradient(top, #ffffff, #fafafa);
    background-image: linear-gradient(180deg, #ffffff, #fafafa);
    transition: all 0.15s ease-out;
    text-align: center;
}
.keyR:hover{
     background-image: -webkit-linear-gradient(top, #f5f5f5, #eeeeee); */
    background-image: linear-gradient(180deg, #f5f5f5, #eeeeee);
}
.letter{
	font-size: 13px;
    text-align: left;
    color: #848484;
    margin: 0px auto;
    margin-bottom: 10px;
    font-family: "Microsoft YaHei";
    font-weight: 300;
}
.chart{
/* 	width: 100%; */
	/* height: 100%; */
	/* background: red; */
}
.chart li{
	width: 303.7px;
	height: 427px;
	border-right: 1px solid #ededed;
	float: left;
	box-shadow: 2px 2px 20px 10px  rgba(239, 239, 239, 0.0) inset;
}
.chart li:last-child{
	border-right: none;
}
.tubox{
	width: 206px;
	height: 206px;
	/* background: red; */
	padding: 50px 49px;
	position: relative;
}
.tu{
	width: 206px;
	height: 206px;
	/* background: red; */
	padding: 50px 49px;
}
.tubox .tu{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.chart2{
	float: right;
}
.circularbox{
	width: 40px;
	height: 21px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.circular{
	width: 14px;
	height: 14px;
	border-radius:50% ;
	border: 1px solid #ededed;
	box-sizing: border-box;


}
.hots{
	border: 3px solid #bfbfbf;
}
.product{
	width: 304px;
	height: 18px;
	text-align: center;
}
.product a{
	font-size: 16px;
	color: #424242;

}
p{
	overflow: hidden;
    padding-top: 7px;
    font-size: 12px;
    line-height: 1.2;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #b2b2b2;
    margin-bottom: 14px;
    padding-left: 15px;
    padding-right: 15px;
}
.details{
	border: 1px solid #e1e1e1;
    border-radius: 4px;
    font-size: 12px;
    color: #646464;
    background-color: #f9f9f9;
    background-image: -webkit-linear-gradient(top, #ffffff, #f9f9f9);
    background-image: linear-gradient(180deg, #ffffff, #f9f9f9);
    cursor: pointer;
    margin: 0 5px;
    box-sizing: border-box;
    width: 100px;
    height: 30px;
    line-height: 28px;
    vertical-align: middle;
    display: none;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
}
.details:hover{
   /*   background: rgba(0, 0, 0, 0.08); */
     background-image: -webkit-linear-gradient(top, #f5f5f5, #eeeeee); 
    background-image: linear-gradient(180deg, #f5f5f5, #eeeeee);

}
.chart li:hover .details{
	display: block;
}
.chart li img{
	transition: all 1s ease 0s;
}
.chart li :hover img{
    transform: scale(1.3);
    transition: all 1s ease 0s;
    -webkit-transform: scale(1.1);
    -webkit-transform: all 1s ease 0s;

    
}
.chart li:hover{
	box-shadow: 2px 2px 20px 10px  rgba(239, 239, 239, 0.6) inset;
	box-sizing: border-box;

}
/* 热门结束 */
/* 精选开始 */
.look{
	border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 0 15px 0 19px;
    line-height: 34px;
    color: #666;
    background-color: #fafafa;
    background-image: -webkit-linear-gradient(top, #ffffff, #fafafa);
    background-image: linear-gradient(180deg, #ffffff, #fafafa);
    width: 66px;
    height: 34px;
    cursor: pointer;
 
}
.look:hover{
	 background-image: -webkit-linear-gradient(top, #f5f5f5, #eeeeee); */
    background-image: linear-gradient(180deg, #f5f5f5, #eeeeee);
}
.jxbox{
	width: 1220px;
	height: 930px;
	background: #fff;
	margin: 62px auto;
	border-radius: 8px;
	border: 1px solid rgba(0, 0, 0, 0.14);
	/* padding: 15px; */
	box-sizing: border-box;
}
.blank{
	width: 608px;
	height: 426px;
	float: left;
	cursor: pointer;
}
.chart3 li{
	border-top: 1px solid #ededed;
}
/* 精选结束 */
/* 底部开始 */
footer{
	height: 141px;
	background: #fff;
	padding: 100px 32px 0;
	margin-top: 30px;
	border-top: 1px solid #e6e6e6;
}
.word{
	width: 784px;
	height: 125px;
	margin-left: 35px;
	padding: 0 15px;
	display: flex;
	justify-content: space-between;
	float: left;
}
.contact{
	width: 16.6%;
	height: 100%;
}
h4{
	font-size: 14px;
    color: #646464;
    margin: 0px;
    text-align: center;
    padding: 0 0 14px;
}
.Story li{
	font-size: 12px;
    color: #969696;
    text-align: center;
    padding: 6px 0;
    cursor: pointer;
}
.Story li:hover{
	color: #5079d9;
}
.Online{
	width: 406px;
	height: 141px;
	float: right;
}
h3{
	text-align: right;
    font-size: 30px;
    color: #646464;
    margin-top: 22px;
    margin-bottom: 11px;
}
h5{
	color: #c3c3c3;
    text-align: right;
    font-size: 13px;
    margin: 0 0 11px;
}
.frame{
	float: right;
    width: 102px;
    height: 32px;
    line-height: 32px;
    background: -webkit-linear-gradient(#fcfcfc, #f5f5f5);
    background: -o-linear-gradient(#fcfcfc, #f5f5f5);
    background: linear-gradient(#fcfcfc, #f5f5f5);
    cursor: pointer;
    font-size: 14px;
    padding: 0 0 0 26px;
    margin-top: 8px;
    text-align: left;
    color: #5079d9;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    box-sizing: content-box;
}
.frame:hover{
	background-image: -webkit-linear-gradient(top, #f5f5f5, #eeeeee); */
    background-image: linear-gradient(180deg, #f5f5f5, #eeeeee);
}

.Below{
	width: 1220px;
	height: 61px;
	border-top: 1px solid #e6e6e6;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.left{
	    font-size: 12px;
    color: #757575;
}
.right{
	color: #45474b;
    font-size: 13px;
}
.fanhui{
	position: fixed;
    right: 7px;
    bottom: 20px;
    width: 54px;
    height: 54px;
    background: url(../img/backTop.png) no-repeat;
    background-size: contain;
    opacity: .62;
    cursor: pointer;
    z-index: 22;
    transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
    border: none;
    bottom: -50px;
	}
/* 底部结束 */
/* 详情图后加 */
.detailstu{
	width: 798px;
	height: 390px;
	background: #fff;
	position: fixed;
	z-index: 9999;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin-bottom: auto;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	border-radius: 8px;
	box-shadow:   0 0 0 3000px  rgba(0, 0, 0, 0.6);
	display: none;

}
.false{
	width: 100%;
	height: 16px;
	
}
.false a{
	width: 14px;
	height: 14px;
	float: right;
	margin-top: 15px;
	margin-right: 15px;
}
.img{
	width: 278px;
	height: 258px;
	margin: 50px;
	float: left;
}
.introduce{
	width: 399px;
	height: 177px;
	float: right;
	margin: 80px 0;
}
.productName{
	font-size: 20px;
    font-family: "Microsoft Yahei";
    color: #474747;
    line-height: 28px;
    word-break: break-all;
    padding: 5px;
    width: 374px;
    height: 38px;
    border-bottom: 2px solid #e0e0e0
}
.propContent{
	height: 20px;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    line-height: 20px;
    padding: 10px 0;
	color: #767676;
	width: 374px;
}