@import url('base.css');
/* 头部开始 */
body{
	width: 100%;
	height: 100%;
	background: #ededed;
}
header{
	width: 100%;
	height: 75px;
	background: #000;
}
.navbar{
	width: 1220px;
	height: 75px;
	margin: 0 auto;
	background: #000;
	display:flex;
	justify-content: space-between;
}
.logoL{
	color: rgb(74, 179, 68);
	height: 75px;
	font-size: 32px;
	line-height: 75px;
}
.design{
	color: #837f80;
}
.logoR{
	width: 212px;
	height: 75px;
	display: flex;
	justify-content: space-between;

}
.logoR a{
	width: 106px;
	height: 75px;
	font-size: 14px;
	color: #c8c8c8;
	line-height: 75px;
}
.logoR a:hover{
	color: #fff;
}
.navbarT{
	width: 100%;
	height: 0px;
	position: fixed;
	top: 75px;
	z-index: 999;
	background: #f7f7f7;
    /* border-bottom: 1px solid #dadada; */
    /* transition: all 1s; */
}
.container{
	width: 1220px;
	height: 62px;
	margin: 0 auto;


}
.nav{
	width: auto;
	height: 62px;

	float: left;
}
.nav li{
	float: left;
	padding: 20px;
	position: relative;
}
.nav li:first-child{
	padding-left: 0;
}
.nav li a{
	font-size: 14px;
	color: #76838f;
}
.nav li a:hover{
	color: #6b95ea;
}
.hot{
	font-weight: bold;
	color: #666;
}
.drop-down{
	width: 158px;
	height: 0px;
	background: #fff;
	border-radius: 4px;
	position: absolute;
	left: 0px;
	top: 50px;
	z-index: 9999;
	/* padding: 5px 0; */
	overflow: hidden;
	transition: all 1s
}
.drop-down li{
	width: 158px;
	height: 40px;
	background: #fff;
	padding:  0;
	padding-left: 15px;
	margin: 5px 0;
	line-height: 40px;
	box-sizing: border-box;

}
.drop-down li:hover{
	background: #ededed;
}
/* 头部结束 */
section{
	width: 1220px;

	margin: 0 auto;
	margin-top: 62px;


}
/* 资讯开始 */

.jxbox{
	width: 1220px;
	height: 1150px;
	background: #fff;
	margin: 62px auto;
	border-radius: 8px;
	border: 1px solid rgba(0, 0, 0, 0.14);
	/* padding: 15px; */
	box-sizing: border-box;
	margin-top: 0;
}
.banner{
	width: 1190px;
	height: 76px;
	margin: 15px auto;
	border-bottom: 1px solid rgba(0, 0, 0, 0.14);

}
.women{
	color: #4bb344;
	font-size: 24px;
	text-align: center;
	margin-bottom: 15px;
}
.bainian{
 	font-size: 16px;
    text-align: center;
    color: #999999;
}

.information{
	width: 100%;
	height: 293px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	box-sizing: border-box;
}
.information li{
	width: 280px;
	height: 240px;
	border-radius: 8px;
}
.fk{
	color: #333;
	font-size: 18px;
	display: block;
	margin: 50px 0px 20px;
	text-overflow: ellipsis;
}
.fk:hover{
	color: #4bb344;
}
.pic{
 	font-size: 14px;
 	color: #999;
 	line-height: 22px;
}
.form{
	width: 1100px;
	height: 108px;
	padding-bottom: 30px;
    margin: 30px auto;
    border-bottom: 1px solid  #f2f2f2
}
.zis{
	border-bottom: none;
}
.date{
	width: 84px;
	height: 84px;
	display: block;
	background: #f2f2f2;
	float: left;
}
.Month{
	font-size: 26px;
	color: #666;
	padding-top: 20px ;
	padding-bottom: 5px;
	text-align: center;
}
.yea{
	font-size: 14px;
	color: #666;
	text-align: center;
}
.zi{
	width: 996px;
	height: 61px;
	float: right;
}
.fks{
	margin-top: 5px
}
.thread{
	width: 100%;
	height: 1px;
	background: #f2f2f2;
	margin: 50px auto;
}

/* 资讯结束 */

/* 底部开始 */
footer{
	height: 141px;
	background: #fff;
	padding: 100px 32px 0;
	margin-top: 30px;
	border-top: 1px solid #e6e6e6;
}
.word{
	width: 784px;
	height: 125px;
	margin-left: 35px;
	padding: 0 15px;
	display: flex;
	justify-content: space-between;
	float: left;
}
.contact{
	width: 16.6%;
	height: 100%;
}
h4{
	font-size: 14px;
    color: #646464;
    margin: 0px;
    text-align: center;
    padding: 0 0 14px;
}
.Story li{
	font-size: 12px;
    color: #969696;
    text-align: center;
    padding: 6px 0;
    cursor: pointer;
}
.Story li:hover{
	color: #5079d9;
}
.Online{
	width: 406px;
	height: 141px;
	float: right;
}
h3{
	text-align: right;
    font-size: 30px;
    color: #646464;
    margin-top: 22px;
    margin-bottom: 11px;
}
h5{
	color: #c3c3c3;
    text-align: right;
    font-size: 13px;
    margin: 0 0 11px;
}
.frame{
	float: right;
    width: 102px;
    height: 32px;
    line-height: 32px;
    background: -webkit-linear-gradient(#fcfcfc, #f5f5f5);
    background: -o-linear-gradient(#fcfcfc, #f5f5f5);
    background: linear-gradient(#fcfcfc, #f5f5f5);
    cursor: pointer;
    font-size: 14px;
    padding: 0 0 0 26px;
    margin-top: 8px;
    text-align: left;
    color: #5079d9;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    box-sizing: content-box;
}
.frame:hover{
	background-image: -webkit-linear-gradient(top, #f5f5f5, #eeeeee); */
    background-image: linear-gradient(180deg, #f5f5f5, #eeeeee);
}

.Below{
	width: 1220px;
	height: 61px;
	border-top: 1px solid #e6e6e6;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.left{
	    font-size: 12px;
    color: #757575;
}
.right{
	color: #45474b;
    font-size: 13px;
}
.fanhui{
	position: fixed;
    right: 7px;
    bottom: 20px;
    width: 54px;
    height: 54px;
    background: url(../img/backTop.png) no-repeat;
    background-size: contain;
    opacity: .62;
    cursor: pointer;
    z-index: 22;
    transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
    border: none;
    bottom: -50px;
	}
/* 底部结束 */
